<h1 class="header">Users</h1>

<div class="row">
  <ng-container
    *ngFor="let userItem of users; index as userIndex; last as isLastUser"
  >
    <div
      class="col-sm-12 col-md-10 col-lg-6 m-auto userCard"
      [ngClass]="{ lastChild: isLastUser && userIndex % 2 == 0 }"
      *ngIf="currentUser ? userItem.id != currentUser.id : true"
    >
      <a [routerLink]="['/users', userItem.id]" class="resetA">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row mb-2">
              <div class="col-2">
                <img
                  [src]="userItem.image"
                  [alt]="userItem.name"
                  class="rounded-circle card-img image"
                />
              </div>
              <div class="col-10 align-items-center d-flex">
                <h5 class="card-title mb-0">{{ userItem.name }}</h5>
              </div>
            </div>

            <p class="card-text">
              This is a wider card with supporting text below as a natural
              lead-in to additional content. This content is a little bit
              longer. TODO add user profile info
            </p>
            <p class="card-text">
              <small class="text-muted">Last updated 3 mins ago </small>
            </p>
          </div>
        </div>
      </a>
    </div>
  </ng-container>
</div>
<div id="UsersIntersectionObserver"></div>
