$imageWidth: 38px;
$imageMargin: 20px;
.userImage {
  margin-left: $imageMargin;
  cursor: pointer;
  img {
    width: $imageWidth;
    height: 38px;
  }
}
.signInButton {
  margin-right: $imageMargin + $imageWidth;
}
button {
  min-width: 84px;
}

.fixedNavbar {
  display: block;
  position: fixed;
  will-change: transform;
  transition: transform 300ms ease;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 500;
  &.hide {
    transform: translateY(-100%);
  }
}

.links {
  a {
    color: white;
    margin-right: 15px;
    font-size: 1.2em;
  }
}
