$imageWidth: 38px;
$imageMargin: 20px;
.userImage {
  margin-left: $imageMargin;
  img {
    width: $imageWidth;
    height: 38px;
  }
}
.signInButton {
  margin-right: $imageMargin + $imageWidth;
}
button {
  min-width: 84px;
}
