<ng-container *ngIf="selectedAuthor && post && currentUser">
  <article *ngIf="!editable">
    <div class="titleContainer">
      <h1 class="title">
        {{ post.title }}
      </h1>
      <div class="btnContainer">
        <div
          class="btn btn-success"
          (click)="startEditing()"
          *ngIf="currentUser.id == post.author"
        >
          Edit
        </div>
      </div>
    </div>

    <h2 class="description">
      {{ post.description }}
    </h2>
    <a [routerLink]="['/users', selectedAuthor.id]" class="userData">
      <img
        [src]="selectedAuthor.image"
        [alt]="selectedAuthor.name"
        class="rounded-circle author"
      />

      <div class="dataColumn">
        <div class="userName">{{ selectedAuthor.name }}</div>
        <div class="date">{{ getDate() }}</div>
      </div>
    </a>
    <div class="markdownWrapper">
      <markdown [data]="post.content"> </markdown>
    </div>
  </article>
</ng-container>
<ng-container *ngIf="editable || isNewPost">
  <div class="container">
    <h1 class="header">Editing</h1>
    <div class="btnContainer">
      <div class="btn btn-success" (click)="onTogglePreview()">
        {{ preview ? 'Edit' : 'Preview' }}
      </div>
      <button
        class="btn btn-success saveBtn"
        (click)="onSave()"
        [disabled]="!validateSaveButton()"
      >
        {{ isNewPost ? 'Create' : 'Save' }}
      </button>
    </div>
  </div>
  <div class="markdown" *ngIf="preview">
    <div>
      <h1 class="title">
        {{ inputTitle || 'Some title' }}
      </h1>
    </div>
    <h2 class="description">
      {{ inputDescroption || 'Some description' }}
    </h2>
    <a [routerLink]="['/users', selectedAuthor.id]" class="userData">
      <img
        [src]="selectedAuthor.image"
        [alt]="selectedAuthor.name"
        class="rounded-circle author"
      />

      <div class="dataColumn">
        <div class="userName">{{ selectedAuthor.name }}</div>
        <div class="date">{{ getDate() }}</div>
      </div>
    </a>
    <markdown [data]="inputContent || '**Pls write something**'"> </markdown>
  </div>
  <div class="editableContainer" *ngIf="!preview">
    <div class="titleInput">
      <input
        (input)="onInput($event, 'title')"
        placeholder="Entere title"
        [value]="inputTitle"
        required
      />
    </div>
    <div class="descriptionInput">
      <input
        (input)="onInput($event, 'description')"
        placeholder="Enter description"
        [value]="inputDescroption"
        required
      />
    </div>
    <textarea
      (input)="onInput($event, 'content')"
      class="contentInput"
      placeholder="Write some post"
      >{{ inputContent }}</textarea
    >
  </div>
</ng-container>
