@import '../../../../node_modules/bootstrap/scss/bootstrap.scss';

.header {
  text-align: center;
  font-size: 30px;
  margin: 40px 0;
}

.image {
  width: 50px;
  height: 50px;
}

.userCard {
  cursor: pointer;

  &.lastChild {
    @include media-breakpoint-up(lg) {
      margin: 0 !important;
      @include make-col(12);
    }
  }
}
