<h1 class="header">Posts</h1>

<div class="row">
  <ng-container *ngFor="let post of getPosts()">
    <div class="col-6">
      <a [routerLink]="['/posts', post.id]" class="resetA">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row mb-2">
              <div class="col-2">
                <img
                  [src]="getAuthorSrc(post)"
                  class="rounded-circle card-img image"
                />
              </div>
              <div class="col-10 align-items-center d-flex">
                <h5 class="card-title mb-0">{{ post.title }}</h5>
              </div>
            </div>

            <p class="card-text">
              {{ post.description }}
            </p>
            <p class="card-text">
              <small class="text-muted">{{ getDate(post) }}</small>
            </p>
          </div>
        </div>
      </a>
    </div>
  </ng-container>
</div>
