<ng-container *ngIf="currentUser && isCurrentUser">
  <h1 class="header">How other users see your profile</h1>

  <div class="card mb-4 mt-4">
    <div class="card-body">
      <div class="row mb-2">
        <div class="col-2">
          <img
            [src]="currentUser.image"
            [alt]="currentUser.name"
            class="rounded-circle card-img image"
          />
        </div>
        <div class="col-10 align-items-center d-flex">
          <h5 class="card-title mb-0">{{ currentUser.name }}</h5>
        </div>
      </div>

      <textarea
        (input)="onChangeDescription($event)"
        name="description"
        class="description card-text"
        placeholder="Edit profile title"
        [value]="descriptionInput"
        (keypress)="onPress($event, area)"
        #area
        style="height: 2em"
      ></textarea>
      <div
        class="validationDescription"
        [ngClass]="{ inValid: descriptionError }"
      >
        <div>{{ descriptionInput.length }} / {{ 100 }}</div>
      </div>
      <div class="flexContainer">
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago </small>
        </p>
        <button
          type="button"
          class="btn btn-dark"
          [disabled]="isButtonDisabled"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</ng-container>
