<ng-container *ngIf="currentUser && isCurrentUser">
  <div class="navigation">
    <h1 class="header">How other users see your profile</h1>
    <button
      type="button"
      class="btn btn-success"
      (click)="Editing(false)"
      *ngIf="editing"
    >
      Discard
    </button>
    <button
      type="button"
      class="btn btn-success"
      (click)="Editing(true)"
      *ngIf="!editing"
    >
      Edit
    </button>
  </div>

  <div class="card mb-4 mt-4" *ngIf="editing">
    <div class="card-body">
      <div class="row mb-2">
        <div class="col-2">
          <input
            type="file"
            #fileInput
            (input)="inputImage($event)"
            class="fileInput"
            accept=".jpg, .jpeg, .png"
          />
          <img
            [src]="imageUrl"
            [alt]="currentUser.name"
            class="rounded-circle card-img image"
            (click)="fileInput.click()"
          />
        </div>
        <div class="col-10 align-items-center d-flex">
          <input
            name="userName"
            class="card-title mb-0 userInput"
            [value]="userName"
            (input)="onChangeUserName($event)"
            placeholder="Edit profile name"
            (mouseenter)="onInputHover($event)"
          />
        </div>
      </div>

      <textarea
        (input)="onChangeDescription($event)"
        name="description"
        class="description card-text"
        placeholder="Edit profile title"
        [value]="descriptionInput"
        (keypress)="onPress($event, area)"
        (mouseenter)="onInputHover($event)"
        #area
        [style.height.em]="size"
      ></textarea>
      <div
        class="validationDescription"
        [ngClass]="{ inValid: descriptionError }"
      >
        <div>{{ descriptionInput.length }} / {{ 100 }}</div>
      </div>
      <div class="flexContainer">
        <p class="card-text">
          <small class="text-muted">Last updated 3 mins ago </small>
        </p>
        <button
          type="button"
          class="btn btn-success"
          [disabled]="isButtonDisabled()"
          (click)="onSaveSettings()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</ng-container>
<div class="card mb-4 mt-4" *ngIf="!editing && selectedUser">
  <div class="card-body">
    <div class="row mb-2">
      <div class="col-2">
        <img
          [src]="selectedUser.image"
          [alt]="selectedUser.name"
          class="rounded-circle card-img image"
        />
      </div>
      <div class="col-10 align-items-center d-flex">
        <h5 class="card-title mb-0">{{ selectedUser.name }}</h5>
      </div>
    </div>

    <p class="card-text">
      {{ selectedUser.description }}
    </p>
    <p class="card-text">
      <small class="text-muted">Last updated 3 mins ago </small>
    </p>
  </div>
</div>
