<h1 class="header">Create an account with Firebase or Social Providers</h1>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <button
        type="button"
        class="btn btn-danger btn-block"
        (click)="tryGoogleLogin()"
      >
        Register with Google
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <p>Already have an account? <a [routerLink]="['/login']">Login</a></p>
    </div>
  </div>
</div>
